<section class="section" data-section-id="{{ section.id }}" data-section-type="image-with-text">
  <div class="container">
    {%- capture image -%}
      <div class="image-with-text__image-container" style="width: {{ section.settings.image_width }}%;">
        {%- if section.settings.image -%}
          <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: section.settings.image.aspect_ratio }}%">
            {%- capture supported_sizes -%}{%- render 'image-size', sizes: '300,400,500,600,700,800,900,1000,1100,1200', image: section.settings.image -%}{%- endcapture -%}
            {%- assign image_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

            <img class="lazyload image--fade-in" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ section.settings.image.alt | escape }}">

            <noscript>
              <img src="{{ section.settings.image | img_url: '800x' }}" alt="{{ section.settings.image.alt | escape }}">
            </noscript>
          </div>
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    {%- endcapture -%}

    {%- capture text -%}
      <div class="image-with-text__text-container">
        <div class="image-with-text__text-aligner">
          {%- if section.settings.title != blank -%}
            <h2 class="heading h3 img-text-correction">{{ section.settings.title | escape }}</h2>

<style>
  @media screen and (max-width: 640px) {
    h2.heading.h3.img-text-correction{
      font-size: var(--img-text-fontm) !important;
      
    }
  }

  @media screen and (min-width: 640px) {
    h2.heading.h3.img-text-correction{
      font-size: var(--img-text-fontd) !important;
      
    }
  }
</style>


          
          {%- endif -%}

          <div class="rte">
            {{ section.settings.content }}

            {%- if section.settings.button_link != blank and section.settings.button_text != blank -%}
              <a href="{{ section.settings.button_link }}" class="button button--primary">{{ section.settings.button_text | escape }}</a>
            {%- endif -%}
          </div>
        </div>
      </div>
    {%- endcapture -%}

    <div class="image-with-text">
      {%- if section.settings.image_position == 'left' -%}
        {{ image }}
        {{ text }}
      {%- else -%}
        {{ text }}
        {{ image }}
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Imagem com texto",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagem",
      "info": "Recomendado: 1200 x 800px em formato .jpg"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Posição da imagem",
      "options": [
        {
          "value": "left",
          "label": "Esquerda"
        },
        {
          "value": "right",
          "label": "Direita"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 20,
      "max": 70,
      "step": 5,
      "unit": "%",
      "label": "Largura da imagem",
      "default": 50
    },
    {
      "type": "text",
      "id": "title",
      "label": "Título",
      "default": "Seu título"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Texto",
      "default": "<p>Use este texto para compartilhar informações sobre sua marca com seus clientes.<br>Descreva um produto, compartilhe anúncios ou dê as boas-vindas aos clientes em sua loja.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Texto do botão",
      "default": "Nossos produtos"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link do botão",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "category": "Imagem",
      "name": "Imagem com texto",
      "settings": {}
    }
  ]
}
{% endschema %}
