<style>
  :root {
    --header-is-sticky: 1;
  }

  #shopify-section-{{ section.id }} {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
  }

  .senha-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
  }

 .senha-hero {
  margin-bottom: 20px;
   max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: flex-start; /* Alinha a logo à esquerda */
}

.header__logo {
  margin: 0; /* Remove margens adicionais */
}

.header__logo-link {
  display: inline-block;
}

  .senha-content {
    max-width: 500px;
    width: 100%;
  }

  .senha-content--block {
    margin-bottom: 20px;
  }

  .senha-form-section {
    margin-bottom: 20px;
  }

  .senha-form-wrapper {
    position: relative;
  }

  .senha-form-input {
   outline: none;
    max-height: 60px;
    padding: 10px;
    border-color: #8996a3;
    box-shadow: 0 0 0 0.1rem transparent;
    min-width: 75px;
    height: auto;
    margin: 0;
    border: 1px solid #c4cdd5;
    border-radius: 3px;
    text-transform: initial;
    letter-spacing: initial;
    box-sizing: border-box;
    display: block;
    width: 100%;
    transition: box-shadow 100ms cubic-bezier(0.64, 0, 0.35, 1), border-color 100ms cubic-bezier(0.64, 0, 0.35, 1), -webkit-box-shadow 100ms cubic-bezier(0.64, 0, 0.35, 1);
  }

  .senha-error-container {
    color: red;
  }

  .senha-form__submit {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .senha-content--desc {
    font-size: 14px;
  }
  .senha-label-wrapper {
    float: left;
}
  .senha-content {
    text-align: left;
}

button.senha-form__submit.button.button--primary.button--full {
    height: 50px;
    line-height: 32px;
    width: 200px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px !important;
}
  
</style>

<section data-section-id="{{ section.id }}" data-section-type="password">
  <div class="senha-wrapper">
    <div class="senha-hero">
      <h1 class="header__logo">
        <a href="{{ shop.url }}" class="header__logo-link">
          {%- if section.settings.logo != blank -%}
            {%- capture image_size -%}{{ section.settings.logo_max_width }}x{%- endcapture -%}
            <img class="header__logo-image"
                 src="{{ section.settings.logo | img_url: image_size }}"
                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                 alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
          {%- else -%}
            <span class="header__logo-text">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </h1>
    </div>
    <div class="senha-content">
      <div class="senha-content--block">
        <h2 style="font-size:30px"><b>{{ section.settings.heading | escape }}</b></h2>
        <p class="description">{{ section.settings.text }}</p>
      </div>
      <div class="senha-content--block">
        <form action="/password" accept-charset="UTF-8" data-remote="true" method="post">
          <input type="hidden" name="authenticity_token" value="{{ form_authenticity_token }}">
          <div class="senha-form-section">
            <div class="senha-form-wrapper">
              <div class="senha-label-wrapper">
                <label for="password">{{ 'general.password.enter_password' | t }}</label>
              </div>
              <input type="password" class="senha-form-input" id="password" name="password" autocomplete="off">
              <div class="senha-error-container">
                {%- if form.errors -%}
                  <p class="alert alert--error">{{ form.errors.messages['form'] }}</p>
                {%- endif -%}
              </div>
            </div>
          </div>
          <button type="submit" class="senha-form__submit button button--primary button--full">{{ 'general.password.password_submit' | t }}</button>
        </form>
      </div>
      <div class="senha-content--block">
        <div class="senha-content--desc">
          <span>
            Você é o dono da Loja?
            <a href="/admin">{{ 'general.password.login_link' | t }}</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Senha",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Imagem do logotipo",
      "info": "Recomendado: 200 x 60px em formato .png"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Largura da imagem do logotipo",
      "default": 140
    },

    {
      "type": "text",
      "id": "heading",
      "label": "Título",
      "default": "Em Breve"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Texto",
      "default": "<p>Um conteúdo descrevendo o que sua loja venderá.</p>"
    }
  ]
}
{% endschema %}
